
<div _ngcontent-c6="" class="row">
  <div _ngcontent-c6="" class="col-md-12 banner-text rf-m-t-15" style="margin-top: 0px;">
      <!---->
      <div _ngcontent-c6="" class="row ng-star-inserted mb-lg-5">
          <div class="order-1 order-md-2 order-lg-0 col-lg-5 col-sm-12 quick-links-summary wow fadeInLeft"data-wow-delay="0.1s" animation-name:fadeInRight data-wow-duration="2s" style="animation-name: fadeInLeft; position: relative;" >
              <h1 _ngcontent-c6="" class="text-left section-header text-md-center text-lg-left " >
                  <span _ngcontent-c6="" class="bold-text" style="font-size: 40px; line-height: 60px;">The Best Platform for automated VTU Services</span>
                  <br><small style="font-size: 17px;line-height: 0px;" class="d-sm-none">We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv &amp; Startimes), Electricity Bill Payment and more</small>
              </h1>
              <a _ngcontent-c6="" class="btn remita-orange-bg btn-rounded text-white remita-orange-shadow sign-up-btn" href="https://vtu.ng/dashboard/ref/Mhickyman/?action=register">Sign In to Account <i _ngcontent-c6="" aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
          </div>

          <div class="order-0 order-md-0 col-lg-6 order-lg-1 col-sm-12 ml-lg-5">
              <div _ngcontent-c6="" class="row">
                  <!---->
                  <div _ngcontent-c6="" class=" col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5" >
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"   style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                        <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <img _ngcontent-c6=""  src="../../assets/svg/buy_airtime.svg" class="d-none d-md-inline-flex  svg-icon">
                                          <img _ngcontent-c6=""  src="../../assets/svg/buy_airtime.svg" class="d-md-none svg-icon  ">
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Buy Airtime</a> </div>
                          </div>
                      </div>
                  </div>
                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"  style="animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                        <img _ngcontent-c6=""  src="../../assets/svg/buy_data.svg" class="d-none d-md-inline-flex  svg-icon">
                                          <img  _ngcontent-c6="" src="../../assets/svg/buy_data.svg" class="d-md-none svg-icon ">
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Buy Data</a> </div>
                          </div>
                      </div>
                  </div>
                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6=""class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"   style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <img _ngcontent-c6=""  src="../../assets/svg/buy_electricity.svg" class="d-none d-md-inline-flex svg-icon ">
                                          <img _ngcontent-c6=""  src="../../assets/svg/buy_electricity.svg" class="d-md-none svg-icon ">
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Buy Electricity</a> </div>
                          </div>
                      </div>
                  </div>
                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"   style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <img _ngcontent-c6=""  src="../../assets/svg/pay_cable.svg" class="d-none d-md-inline-flex svg-icon ">
                                          <img _ngcontent-c6=""  src="../../assets/svg/pay_cable.svg" class="d-md-none svg-icon ">
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Cable TV</a> </div>
                          </div>
                      </div>
                  </div>
                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"   style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <img _ngcontent-c6="" src="../../assets/svg/pay_bills.svg" class="d-none d-md-inline-flex  svg-icon">
                                          <img _ngcontent-c6=""  src="../../assets/svg/pay_bills.svg" class="d-md-none svg-icon  ">
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Wallet <br>Summary</a> </div>
                          </div>
                      </div>
                  </div>
                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s" style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <i class="fa fa-code" style="font-size: 24px; color: #008000;" aria-hidden="true"></i>
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile">Developer's<br> API</a> </div>
                          </div>
                      </div>
                  </div>

                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"  style=" animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <i class="fa fa-comments" style="font-size: 24px; color: #008000;" aria-hidden="true"></i>
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile">Bulk <br> SMS</a> </div>
                          </div>
                      </div>
                  </div>

                  <div _ngcontent-c6="" class="col-lg-3 col-md-3 col-6 text-center m-b-20 rf-item ng-star-inserted mb-5">
                      <div _ngcontent-c6="" class="quick-link-wrapper d-flex justify-content-center">
                          <div _ngcontent-c6="" class="feature wow bounceInRight"animation-name:bounceInRight data-wow-duration="2s"   style="animation-name: fadeInRight; position: relative;">
                              <!---->
                              <span _ngcontent-c6="" class="badge badge-success feature-label ng-star-inserted">AUTOMATED</span>
                              <div _ngcontent-c6="" class="rf-icon">
                                  <div _ngcontent-c6="" class="oval-bg">
                                      <a href="/profile">
                                          <i class="fa fa-print" style="font-size: 24px; color: #008000;" aria-hidden="true"></i>
                                      </a>
                                  </div>
                              </div>
                              <div _ngcontent-c6="" class="rf-desc mt-3 mb-1 text-truncate text-center"> <a href="/profile" >Recharge Card <br> Printing</a> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!---->
</div>
