<header class="primary-header flex">
    <div>
        <h2 class="logo">Subplug</h2>
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" id="toggler" class="toggler" >
    </button>
   <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li ><a routerLink="/">Home</a></li>
        <li><a href="#about-us">About-us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricings">Pricing</a></li>
      </ul>
   </nav>
</header>
